# Note that each line must contain at least three parameters
# or the line will not be parsed
#
# type, method name, argument index of setting's name (starting from 0) or variable type
# type - 0 read, 1 write, 2 UI, 3 struct, 4 entry function, 5 logging function
# argument index - -1 no setting name is used by the API method
# 0, Record::Record(int, double), 0
# 0, Record::set(int, double), 0
0, getenv, 0
0, gconf_client_get, 1
0, gconf_client_get_without_default, 1
0, gconf_client_get_entry, 1
0, gconf_client_get_float, 1
0, gconf_client_get_int, 1
0, gconf_client_get_string, 1
0, gconf_client_get_bool, 1
0, gconf_client_get_list, 1
0, gconf_engine_get_float, 1
0, gconf_engine_get_int, 1
0, gconf_engine_get_entry, 1
0, gconf_engine_get_string, 1
0, gconf_engine_get_bool, 1
0, gconf_engine_get_list, 1
0, gconf_engine_get_pair, 1
1, gconf_client_set, 1
1, gconf_client_set_float, 1
1, gconf_client_set_int, 1
1, gconf_client_set_string, 1
1, gconf_client_set_bool, 1
1, gconf_client_set_list, 1
1, gconf_engine_set, 1
1, gconf_engine_set_float, 1
1, gconf_engine_set_int, 1
1, gconf_engine_set_string, 1
1, gconf_engine_set_bool, 1
1, gconf_engine_set_list, 1
1, gconf_engine_set_pair, 1
0, g_settings_get, 1
0, g_settings_get_boolean, 1
0, g_settings_get_enum, 1
0, g_settings_get_string, 1
0, g_settings_get_strv, 1
0, g_settings_get_flags, 1
0, g_settings_get_value, 1
0, g_settings_get_int, 1
0, g_settings_get_double, 1
1, g_settings_set, 1
1, g_settings_set_boolean, 1
1, g_settings_set_enum, 1
1, g_settings_set_string, 1
1, g_settings_set_strv, 1
1, g_settings_set_flags, 1
1, g_settings_set_value, 1
1, g_settings_set_int, 1
1, g_settings_set_double, 1
1, g_settings_reset, 1
2, g_settings_bind, 1
2, g_settings_bind_with_mapping, 1
2, g_settings_bind_writable, 1
0, Inkscape::Preferences::getBool(Glib::ustring const&, bool), 1
0, Inkscape::Preferences::getInt(Glib::ustring const&, int), 1
0, Inkscape::Preferences::getIntLimited(Glib::ustring const&, int, int, int), 1
0, Inkscape::Preferences::getDouble(Glib::ustring const&, double), 1
0, Inkscape::Preferences::getDoubleLimited(Glib::ustring const&, double, double, double), 1
0, Inkscape::Preferences::getString(Glib::ustring const&), 2
0, Inkscape::Preferences::getColor(Glib::ustring const&, unsigned int) , 1
0, Inkscape::Preferences::getStyle(Glib::ustring const&), 1
0, Inkscape::Preferences::getInheritedStyle(Glib::ustring const&), 1
0, Inkscape::Preferences::getEntry(Glib::ustring const&), 1
1, Inkscape::Preferences::setBool(Glib::ustring const&, bool), 1
1, Inkscape::Preferences::setInt(Glib::ustring const&, int), 1
1, Inkscape::Preferences::setDouble(Glib::ustring const&, double), 1
1, Inkscape::Preferences::setString(Glib::ustring const&, Glib::ustring const&), 1
1, Inkscape::Preferences::setColor(Glib::ustring const&, unsigned int) , 1
1, Inkscape::Preferences::setStyle(Glib::ustring const&, SPCSSAttr*), 1
0, mozilla::Preferences::GetBool(char const*, bool), 0
0, mozilla::Preferences::GetInt(char const*, int32_t), 0
0, mozilla::Preferences::GetUint(char const*, uint32_t), 0
0, mozilla::Preferences::GetFloat(char const*, float), 0
0, mozilla::Preferences::GetCString(char const*), 0
0, mozilla::Preferences::GetString(char const*), 0
0, mozilla::Preferences::GetLocalizedCString(char const*), 0
0, mozilla::Preferences::GetLocalizedString(char const*), 0
0, mozilla::Preferences::GetBool(char const*, bool*), 0
0, mozilla::Preferences::GetInt(char const*, int32_t*), 0
0, mozilla::Preferences::GetFloat(char const*, float*), 0
0, mozilla::Preferences::GetUint(char const*, uint32_t*), 0
0, mozilla::Preferences::GetCString(char const*, nsACString*), 0
0, mozilla::Preferences::GetString(char const*, nsAString*), 0
0, mozilla::Preferences::GetLocalizedCString(char const*, nsACString*), 0
0, mozilla::Preferences::GetLocalizedString(char const*, nsAString*), 0
0, mozilla::Preferences::GetComplex(char const*, nsIID const&, void**), 0
1, mozilla::Preferences::SetBool(char const*, bool), 0
1, mozilla::Preferences::SetInt(char const*, int32_t), 0
1, mozilla::Preferences::SetUint(char const*, uint32_t), 0
1, mozilla::Preferences::SetCString(char const*, char const*), 0
1, mozilla::Preferences::SetCString(char const*, nsACString const&), 0
1, mozilla::Preferences::SetString(char const*, PRUnichar const*), 0
1, mozilla::Preferences::SetString(char const*, nsAString const&), 0
1, mozilla::Preferences::SetComplex(char const*, nsIID const&, nsISupports*), 0
1, mozilla::Preferences::SetFloat(char const*, float);
0, mozilla::Preferences::AddBoolVarCache(bool*, char const*, bool), 1
0, mozilla::Preferences::AddIntVarCache(int32_t*, char const*, int32_t), 1
0, mozilla::Preferences::AddUintVarCache(uint32_t*, char const*, uint32_t), 1
0, mozilla::Preferences::AddFloatVarCache(float*, char const*, float), 1
0, mozilla::Preferences::GetDefaultBool(char const*, bool*), 0
0, mozilla::Preferences::GetDefaultInt(char const*, int32_t*), 0
0, mozilla::Preferences::GetDefaultUint(char const*, uint32_t*), 0
0, mozilla::Preferences::GetDefaultBool(char const*, bool), 0
0, mozilla::Preferences::GetDefaultInt(char const*, int32_t), 0
0, mozilla::Preferences::GetDefaultUint(char const*, uint32_t), 0
0, mozilla::Preferences::GetDefaultString(char const*), 0
0, mozilla::Preferences::GetDefaultCString(char const*), 0
0, mozilla::Preferences::GetDefaultLocalizedString(char const*), 0
0, mozilla::Preferences::GetDefaultLocalizedCString(char const*), 0
0, mozilla::Preferences::GetDefaultCString(char const*, nsACString*), 0
0, mozilla::Preferences::GetDefaultString(char const*, nsAString*), 0
0, mozilla::Preferences::GetDefaultLocalizedCString(char const*, nsACString*), 0
0, mozilla::Preferences::GetDefaultLocalizedString(char const*, nsAString*), 0
0, mozilla::Preferences::GetDefaultComplex(char const*, nsIID const&, void**), 0
0, g_object_get_property, 1
0, g_object_get, 1
0, g_object_get_data, 1
1, g_object_set_property, 1
1, g_object_set, 1
1, g_object_set_data, 1
1, g_object_set_data_full, 1
2, g_object_bind_property, 1
2, g_object_bind_property_full, 1
# squid
3, _SquidConfig, 0
# lighttpd
#3, server_config, 0
#3, plugin_config, 0
#3, specific_config, 0
3, request, 0
# apache httpd
3, core_dir_config, 0
3, core_server_config, 0
3, core_request_config, 0
3, module_struct, 0
0, ap_allow_options, -1
# proftpd
3, server_struc, 0
3, config_struc, 0
# test_app
3, _mytype, 0
# entry functions
4, main, 0
# logging functions
5, log_error_write, 0
5, ap_log_error, 0
5, purple_debug_error, 0
5, testapp_log_error, 0
5, ap_log_rerror, 0
5, ap_log_perror, 0
5, ap_log_cerror, 0
5, _db_print, 0
5, errfinish, 0
5, g_log, 0
5, pr_log_pri, 0
5, fprintf, 0
5, strerror, 0
5, sqlite3_mprintf, 0
5, sqlite3_errmsg, 0
5, sqlite3_log, 0
5, non_fatal, 0
5, bfd_nonfatal, 0
5, warn, 0
# error handling functions
# 6, mod_create_ret, 1, 1, NULL, None
6, assert, -1, -1, -1, (0)
# 6, at_exception_fatal, -1, -1, -1, (exp, "error")
# 6, at_exception_warning, -1 ,-1, -1, (exp, "error")
6, exit, 0, 1, -1, (1)
6, exit, 0, 4294967295, -1, (-1)
6, fatal, -1, -1, -1, ("error")
6, bfd_fatal, -1, -1, -1, ("error")
6, abort, -1, -1, -1, ()
# functions return known error
7, calloc, NULL
7, malloc, NULL
7, realloc, NULL
# functions that have no side-effect
8, memchr, NULL
8, memrchr, NULL
8, strchr, NULL
8, strrchr, NULL
